<!DOCTYPE html>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 5.0;

}
</style>


{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Register
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        {% include 'flash.html' %}

        <form method="POST"> <!-- post : handle submission -->
            <h2> Sign Up </h2>
            {{ form.hidden_tag() }}    
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.password) }}
            <br>
            <br>
            <center> {{ wtf.form_field(form.submit)}} </center>
        </form>
        <br/>
        <center> Already have an account? <a href="login">Log in</a> </center>
    </div> <!-- /container -->
</div>div>
{% endblock %}
