{% extends "base.html" %}

{% block content %}
<div class="feedback-page jumbotron jumbotron-fluid">
  <div class= "container" >

    <h1 class="title display-4" align="center">
      Here's the feedback for your <strong>{{pose_name}}</strong> pose
    </h1>

    <div class="feedback row">
      <div class="instructions col">
          <p><strong> Teacher: </strong></p>
        <div class="box">
            <img src={{ url_for('static',filename='gifs/test.gif') }}
                    class="d-inline-block align-top"
                    height="270" width="100%" />
        </div>
      </div>

      <div class="record col">
          <p><strong> You: </strong></p>
        <div class="box">
            <img src={{ url_for('static',filename='gifs/user_vid_processed.gif') }}
                    class="d-inline-block align-top"
                    height="270" width="100%" />
          </div>
        </div>
      </div>
    </div>

    <div class="steps-to-improve">
      <ul>
        {% for item in feedback %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
{% endblock %}
