{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
  <div class="home-page">
    <div class="hero">
      <div class="container">
          <div class="headline">
            <h1>How's your yoga?</h1>

            <h2>
              Algined is an AI powered assistant to help you improve your poses.
            </h2>

            <p>
              <a class="btn btn-primary round" href="/register">Get started now</a>
            </p>
          </div>
      </div>
    </div>
  </div>
{% endblock %}